{% extends 'customer/customerbase.html' %}
{% block content %}


<div class="col-lg-6 col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="stat-widget-five">
                <div class="stat-icon dib flat-color-1">

                </div>
                <div class="stat-content">
                    <div class="text-left dib">
                        <div class="stat-text">Welcome</div>
                        <div class="stat-heading">{{request.user}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}