<!DOCTYPE html>
{% extends 'customer/customerbase.html' %}
{% block content %}

<div class="col-lg-8">
    <div class="card">
        <div class="card-header"><strong>Book Appointment</strong></div>
        <div class="card-body card-block">
            <form method="post">{% csrf_token %}
                <div class="form-group">
                    <label class=" form-control-label">Date</label>
                    <input    class="form-control" readonly value="{{schedule.date}}">

                </div>

                 <div class="form-group">
                    <label class=" form-control-label">Start Time</label>
                     <input  required  class="form-control" readonly value="{{schedule.start_time}}">

                </div>
                <div class="form-group">
                    <label  class=" form-control-label">End Time</label>
                 <input  required  class="form-control" readonly value="{{schedule.end_time}}">

                </div>

                <div class="form-actions form-group ">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
                {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            </form>
        </div>

    </div>
</div>
{% endblock %}