<!DOCTYPE html>
{% extends 'customer/customerbase.html' %}
{% load crispy_forms_filters %}
{% block content %}



       <div class="card-content">
						<table>
							<thead>
                <tr>
                  <th>Customer Name</th>


                    <th>garbage level</th>
                    <th>longitude</th>
                     <th>latitude</th>
<!--                     <th>Manager</th>-->
<!--                       <th>date</th>-->


<!--                  <th>Problem Description</th>-->
<!--                  <th>Status</th>-->

  <tr>
                    <td>username</td>
                  <td> {{a}}</td>
                  <td>{{b}}</td>
                    <td>{{c}}</td>
                </tr>

<!--                </tr>-->
<!--							</thead>-->
<!--							<tbody>-->

<!--&lt;!&ndash;           <tr>&ndash;&gt;{{a}}-->
<!--                      <tr>   -->
<!--                                                  <ul id="results">-->
<!--     {% for result in results %}-->
<!--     <li>Result{{ forloop.counter }}: {{ result.URL }}, {{ result.PlaylistID }}, {{ result.Name }} ...</li>-->
<!--     {% endfor %}-->
<!--</ul>-->
<!--                  {% for r in res %}-->
<!--                    print('data["feeds"][1]["field1"]')-->

<!--                  <td> {{r.latitude}}</td>-->
<!--                      <td> {{r.name}}</td>-->


<!--                  <td>{{r.vehicle_brand}}</td>-->
<!--                     <td>{{r.cost}}</td>-->
<!--                     <td>{{r.customer}}</td>-->
<!--                    <td>{{r.worksmanager}}</td>-->
<!--                    <td>{{r.date}}</td>-->
<!--                    <td>{{r.problem_description}}</td>-->
<!--                  <td>{{r.status}}</td>-->




<!--                    {% endfor %}-->

<!--							</tbody>-->
<!--						</table>-->
<!--					</div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}